set relativenumber
set number
set scrolloff=8
let mapleader=" "

imap jk <ESC>

nmap J <C-d>zz
nmap K <C-u>zz
nmap G Gzz
nmap E ea
nmap <leader>p :action GotoFile<CR>
nmap <leader>w :action SaveDocument<CR>

vmap m <ESC>
vmap J :action MoveLineDown<CR>
vmap K :action MoveLineUp<CR>

